// bootstrap
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~flickity/dist/flickity.min.css";
// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "buttons";
@import "footer";


.navbar {
    background-color: $navbar-light-bg-color;

    .nav-link {
        font-weight: bold;
    }

    .navbar-item-dropdown {
        background-color: $green;
        border-color: $green;
        border-radius: 5px;

        a.dropdown-toggle {
            color: $white !important;
        }

        &:hover {
            background-color: #71C6AC;
            border-color: #71C6AC;
        }
    }
}

.alert {
    z-index: 1;
    margin-bottom: 0;
}

h1 {
    font-weight: bolder;
}

a {
    color: $green;
    text-decoration: none;

    &:hover {
        color: $green-light;
    }
}

a.link-info {
    color: $blue;
}
