@import "exercise-template";

@mixin mainTitleSection {
    height: 95vh;
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
}

.exercise-options {
    @include mainTitleSection;

    @media screen and (max-width: 500px) {
        height: 100%;
    }

    background-image: linear-gradient(rgba(72, 138, 255, 0.7)), url(/img/title-image.png);

    &__text-box {
        background-color: var(--color-blue-light-1);

        .row {
            margin: 20px;
        }
        .text-box-1 {
            padding: 60px;
            border-top: 3px solid white;
            background-image: url(/img/3.png);
            background-repeat: no-repeat;
            background-position: 2% 10%;
        }

        .text-box-2 {
            padding: 40px;
            border-right: 3px solid white;
            background-image: url(/img/1.png);
            background-repeat: no-repeat;
            background-position: 2% 0;
        }

        @media screen and (max-width: 768px) {
            .text-box-1,
            .text-box-2 {
                border: none;
            }
        }

        .text-box-3 {
            padding: 40px;
            background-image: url(/img/2.png);
            background-repeat: no-repeat;
            background-position: 2% 0;
        }
    }
}

.search-section {
    background-color: var(--color-grey-light);
    padding: 4rem 0;

    &__options {
        @media screen and (max-width: 980px) {
            justify-content: center;
            flex-wrap: wrap;
            .dropdown {
                margin: 5px;
            }
        }

        .dropdown-item {
            font-size: 1.4rem;
            color: var(--color-grey-light-2);
        }
    }

    &__input {
        border-top: 1px solid var(--color-grey);
        border-bottom: 1px solid var(--color-grey);
        height: 10vh;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            justify-content: center;
            height: 18vh;
        }

        .input-group {
            flex: 0 0 40%;
            @media screen and (max-width: 768px) {
                flex: 0 0 80%;
                margin-bottom: 10px;
            }

            ::placeholder {
                font-style: italic;
            }

            .btn-outline-primary {
                color: black;
                font-weight: bold;
                font-size: 14px;
                border-color: #ced4da;
                background-color: #f2f3f5;
            }
        }
    }

    &__results {
        margin-top: 10rem;
    }
}
