@mixin mainTitleSection {
    height: 95vh;
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
}

.header {
    @include mainTitleSection;

    background-image: url(/img/header-image.png);

    a {
        text-decoration: none;
    }

    &__text-box-1 {
        padding: 60px;
        background-color: var(--color-blue-light-1);

        @media screen and (max-width: 500px) {
            padding: 30px;
        }

        ul {
            list-style: none;
        }
    }

    &__text-box-2 {
        padding: 40px;
        background-color: #ffffff;
        color: var(--color-blue-light-1);
        text-align: center;

        a {
            color: var(--color-blue-light-1);

            &:hover {
                color: var(--color-blue-dark);
            }
        }
    }

    &__text-box-3 {
        padding: 40px;
        background-color: var(--color-blue-dark);
        text-align: center;

        a {
            color: #ffffff;

            &:hover {
                color: var(--color-blue-light-1);
            }

        }
    }
}

.mobile-app {
    background-color: var(--color-grey-light);
    height: 80vh;

    @media screen and (max-width: 992px) {
        height: 60vh;
    }

    @media screen and (max-width: 370px) {
        height: 70vh;
    }

    h1 {
        color: var(--color-blue-light-1);
    }

    p {
        color: var(--color-primary);
    }
}

.patient,
.carer {
    background-repeat: no-repeat;
    height: 51vh;

    @media screen and (max-width: 500px) {
        height: 70vh;
    }

    h1,
    p {
        color: #ffffff;
        max-width: 60%;

        @media screen and (max-width: 962px) {
            max-width: 100%;
        }
    }
}

.patient {
    background: var(--color-blue-light-1) url(/grandmother-flowers.png) right no-repeat;
}

.carer {
    background: var(--color-blue-light-2) url(/img/carer-help.png) left no-repeat;

    &__text {
        margin-left: 45%;

        @media screen and (max-width: 1441px) {
            margin-left: 30%;
        }

        @media screen and (max-width: 962px) {
            margin-left: 0;
        }
    }
}
