@import "variables";

#intro-carousel-row {
    height: calc(100vh - 75px - 3rem - 100px);
    background-image: url("/img/background-carousel-landing-page.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.flickity-page-dots .dot {
    background: $green;
    height: 15px;
    width: 15px;
    opacity: 1;

    &:not(.is-selected) {
        background-color: white;
        border: 2.5px solid $green;
    }
}

.carousel {
    height: 500px;
}

.carousel-cell {
    height: 100%;
}

.flickity-page-dots {
    bottom: 10px;
}

.carousel-cell {
    width: 100%;
}

#communication-cards {
    padding-top: 20rem;
}

#game-cards {
    padding-top: 20rem;
    margin-bottom: 10rem;
}

.download-app-container {
    .fab {
        margin-top: 3px;
        font-size: toRem(23);
    }
}
