@import "common/variables";
.login-page {
    background-color: var(--color-grey-dark-2);
    height: 147vh;

    form {
        background-color: #ffff;
        width: 45%;
        height: 55%;
        padding: 30px;

        label {
            color: var(--color-grey-dark);
            font-size: 1.6rem;
        }

        button {
            width: 100%;
        }

        .form-control {
            min-height: 54px;
            background-color: var( --color-offwhite);
            font-size: $default-font-size;
            &::placeholder {
                font-style: italic;
                font-size: 1.8rem;
            }
        }
    }
}
