
// bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~flickity/dist/flickity.min.css";
//// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "common/base";
@import "common/buttons";
@import "common/mixins";
@import "common/variables";

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}


.navbar {
    background-color:  var(--color-grey-light);


    .nav-link {
        font-weight: bold;
        font-size: $default-font-size;

    }

    //position: fixed;
    //top: 0;
    //z-index: 999;
    //opacity:1;
    //width: 100%;


    .navbar-item-dropdown {
        background-color: transparent;
        border-color:transparent;
        border-radius: 5px;

        //a.dropdown-toggle {
        //    color: var(--color-blue-dark) !important;
        //}

        &:hover {
            background-color: transparent;
            border-color: transparent;
        }
    }
}

.alert {
    z-index: 1;
    margin-bottom: 0;
}

h1 {
    font-weight: bolder;
}

a {
    color:  var(--color-blue-dark);;
    text-decoration: none;

    &:hover {
        color: var(--color-blue-dark)  !important;;
    }
    font-size: $default-font-size;
}

a.link-info {
    color: var(--color-blue-dark);
}

