@import "resources/sass/variables";

.card-title {
    font-weight: bold;
    font-size: toRem(18);
}

.card-subtitle {
    font-size: toRem(14);
    font-style: italic;
}

.rate-text {
    font-size: toRem(10);
    color: $gray-600;
}

.rate-link {
    text-decoration: underline;
    color: $gray-600;

    &:hover:not(.disabled) {
        cursor: pointer;
    }
}

.fa-star {
    font-style: toRem(20);
    color: $yellow;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-container {
    position: absolute;
    right: 0;
    background-color: white;

    .actions-btn {
        height: auto;
        padding: 5px;
    }
}

.card {
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;

    &:hover:not(.disabled) {
        box-shadow: 3px 5px 9px 5px rgba(0, 0, 0, 0.2);
    }
}

.modal {
    .modal-wrapper {
        padding-top: 2%;
    }
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        max-height: 70vh;
        overflow-y: auto;
    }
}

.dropdown-menu {
    z-index: 100000;
}

.rate-btn {
    height: 70px;

    i {
        font-size: 70px;
    }
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid color('primary');
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search .spinner-border {
    position: absolute;
    top: 15px;
    right: 10px;
    border-color: color('primary')
}
