@import "variables";

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: 1100px) {
        font-size: 50%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-primary);

    font-size: 1.8rem;

    min-height: 100vh;
}

.content,
.content-small,
.content-footer {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.content {
    max-width: 1280px;
}

.content-small {
    max-width: 1062px;
}

.content-footer {
    max-width: 975px;
}

h1 {
    font-weight: 700;
}

h1 {
    font-size: 4rem;

}


h2 {
    font-size: 2.6rem;
}



a {
    font-weight: 500;
    text-decoration: underline;
    color: var(--color-blue-dark);
}

.navigation {
    font-size: 4rem;
    text-align: center;
    border-bottom: 3px solid grey;
}

/// FOOTER
.footer-dark {
    background-color: var(--color-blue-light-1);
    color: #ffffff;
    /* unvisited link */
    a:link, a:visited, a:active, p{
        opacity:65% ;
        color:var(--bs-white) !important;
    }
    /* mouse over link */
    a:hover {
        opacity:100% ;
        color: #ffffff !important;
    }

    padding:50px;
}
