:root {
    --color-primary: #222222;

    --color-blue-light-1: #488AFF;
    --color-blue-light-2:  #00BCD4;
    --color-blue:  #2774FE;
    --color-blue-dark: #3F51B5;

    --color-green:  #32DB64;

    --color-yellow:  #ECD43A;

    --color-orange:  #EE8E10;

    --color-offwhite:   #F4F4F4;

    --color-grey-light:  #F8F8F8;
    --color-grey-light-2:  #AEAEAE;

    --color-grey: #C7C7C7;
    --color-grey-dark: #646464;
    --color-grey-dark-2:   #303654;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-blue-light-1);
}


// FONT
$default-font-size: 1.8rem;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: 1100px) {
        font-size: 50%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-primary);

    font-size: $default-font-size;

    min-height: 100vh;
}

.content,
.content-small,
.content-footer {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.content {
    max-width: 1280px;
}

.content-small {
    max-width: 1062px;
}

.content-footer {
    max-width: 975px;
}

h1 {
    font-weight: 700;
}

h1 {
    font-size: 4rem;

}


h2 {
    font-size: 2.6rem;
}



a {
    font-weight: 500;
    text-decoration: underline;
    color: var(--color-blue-dark);
}